In [1]:
!pip install kaggle

Requirement already satisfied: kaggle in c:\users\surface\anaconda3\lib\site-packages (1.5.16)
Requirement already satisfied: six>=1.10 in c:\users\surface\anaconda3\lib\site-packages (from kaggle) (1.17.0)
Requirement already satisfied: certifi in c:\users\surface\anaconda3\lib\site-packages (from kaggle) (2025.1.31)
Requirement already satisfied: python-dateutil in c:\users\surface\anaconda3\lib\site-packages (from kaggle) (2.9.0.post0)
Requirement already satisfied: requests in c:\users\surface\anaconda3\lib\site-packages (from kaggle) (2.32.3)
Requirement already satisfied: tqdm in c:\users\surface\anaconda3\lib\site-packages (from kaggle) (4.67.1)
Requirement already satisfied: python-slugify in c:\users\surface\anaconda3\lib\site-packages (from kaggle) (8.0.4)
Requirement already satisfied: urllib3 in c:\users\surface\anaconda3\lib\site-packages (from kaggle) (2.3.0)
Requirement already satisfied: bleach in c:\users\surface\anaconda3\lib\site-packages (from kaggle) (6.2.0)
Requirement already satisfied: webencodings in c:\users\surface\anaconda3\lib\site-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in c:\users\surface\anaconda3\lib\site-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\surface\anaconda3\lib\site-packages (from requests->kaggle) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\surface\anaconda3\lib\site-packages (from requests->kaggle) (3.10)
Requirement already satisfied: colorama in c:\users\surface\anaconda3\lib\site-packages (from tqdm->kaggle) (0.4.6)

WARNING: Ignoring invalid distribution ~ensorflow-intel (C:\Users\Surface\anaconda3\Lib\site-packages)
WARNING: Ignoring invalid distribution ~ensorflow-intel (C:\Users\Surface\anaconda3\Lib\site-packages)
WARNING: Ignoring invalid distribution ~ensorflow-intel (C:\Users\Surface\anaconda3\Lib\site-packages)

In [4]:
import os
os.environ['KAGGLE_CONFIG_DIR'] = "C:\\Users\\Surface\\NU\\STL"

In [5]:
!kaggle datasets download -d uciml/default-of-credit-card-clients-dataset

Downloading default-of-credit-card-clients-dataset.zip to c:\Users\Surface\NU\STL

  0%|          | 0.00/0.98M [00:00<?, ?B/s]
100%|██████████| 0.98M/0.98M [00:00<00:00, 4.41MB/s]
100%|██████████| 0.98M/0.98M [00:00<00:00, 4.39MB/s]

In [7]:
import zipfile

with zipfile.ZipFile("default-of-credit-card-clients-dataset.zip", 'r') as zip_ref:
    zip_ref.extractall(".")

In [8]:
import pandas as pd

df = pd.read_csv("UCI_Credit_Card.csv")
df.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
0,1,20000.0,2,2,1,24,2,2,-1,-1,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1
1,2,120000.0,2,2,2,26,-1,2,0,0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1
2,3,90000.0,2,2,2,34,0,0,0,0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0
3,4,50000.0,2,2,1,37,0,0,0,0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0
4,5,50000.0,1,2,1,57,-1,0,-1,0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0